
/* estilo titulo primcipal*/
h1 {
    text-align: center;   /* para centrar el titulo*/
    font-family: 'Indie Flower', cursive;  /* tipo de letra*/
    font-size: 305% !important;  /* tamaño de letra// importat es para que lo tome si o si*/
    font-weight: 300px !important; /* texto negrita*/
    padding-bottom: 3%;  /* espacio alrededor del contenido = arriba*/
    padding-top: 3%;  /* espacio alrededor del contenido = abajo*/
    color: #ffff !important;  /* color de texto*/
}

/* para el video de fondo*/
body {
    position: relative;
    margin: 0;
}
/* para el video de fondo*/
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}




/* estilos para el inicio del juego*/
#inicio {
    padding-top: 4%;
    font-size: 150% !important;
    color: #ffff;
    font-family: 'Indie Flower', cursive;
}

.img {
    text-align: center;
    display: flexbox;
}



#saludo {
    display: none;
    display: flexbox;
    text-align: center;
    padding-top: 1.5%;
    font-size: 150%;
    font-family: 'Indie Flower', cursive;
    color: #ffff;
    z-index: 150;
}

#opcionElegida {
    display: none;
    text-align: center;
    padding-top: 3%;
    font-size: 150%;
    font-family: 'Indie Flower', cursive;
    color: #ffff;
    display: flexbox;
    justify-content: center;
    
}

#imgPiedra2, #imgPapel2, #imgTijera2{
    display: none;
    align-content: center;
    margin-left: 25%;
}


#imgPiedra3, #imgPapel3, #imgTijera3 {
    display: none;
    align-content: center;
    align-items: center;
    display: flexbox;
    justify-content: center;
    margin-left: 25%;
}
#reiniciar{
    position: relative;
    display: none;
    text-align: center;
    font-size: 250%;
    font-family: 'Indie Flower', cursive;
    z-index: 250;
    display: flexbox;
    justify-content: center;
    margin-top: 15%;

}
#videoEmpate, #videoGanar, #videoPerder{
    display: none;
    right: 0;
    bottom: 0;
    width: 150%;
    height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -100;
}